* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

.App-logo {
  width: 133.4px;
  height: 100px;
  left: 96px;
  top: 96px;
  pointer-events: none;
}

body {
  color: #f3f3f3;
  margin: 0;
  background-color: #16162a;
}

.SlideBar {
  /* font-family: "Poppins", sans-serif; */
  color: #f3f3f3;
  padding: 96px;
  background: linear-gradient(
    163.35deg,
    rgba(41, 41, 70, 0) 0%,
    rgba(49, 20, 112, 0.67) 41.24%,
    #823b6e 100%
  );
  width: 600px;
  height: 1024px;
  left: 0px;
  top: 0px;
  float: left;
}

.box-left {
  background-color: #494980;
  color: #f3f3f3;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
}

.App-alert {
  position: static;
  width: 50px;
  height: 30px;
}

.blod {
  font-weight: 600;
}

.container-right {
  position: static;
  width: 880px;
  height: 1024px;
  left: 560px;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 32px 0px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;

  position: static;
  width: 688px;
  height: 416px;
  left: 0px;
  top: 120px;

  border: 1px solid #52526b;
  box-sizing: border-box;
  border-radius: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 64px 0px;
}

.linear {
  position: static;
  height: 0px;
  left: 4.65%;
  right: 4.65%;
  bottom: 208px;

  /* Dark/Basic/Strokes */

  border: 1px solid #52526b;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;

  position: static;
  width: 125px;
  height: 48px;
  left: calc(50% - 125px / 2 - 281.5px);
  top: 0px;

  /* Dark/Background/Contrast */

  background: #eaeaff;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}
